<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="/static/img/favicon.png" />
<meta name="author" content="Mahendra Sharma" />
<meta name="description" content="Ticking booking" />
<meta name="keywords" content="ticket booking,movie ticket">
<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
<link href="/static/css/style.css" rel="stylesheet" />
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>