body {
  background: url(/static/img/banner.jpg) no-repeat center;
  -webkit-background-size: cover;
  background-attachment: fixed;
}
.plane {
  margin: 20px auto;
  max-width: 600px;
}

.seat label:hover {
    cursor: pointer;
    box-shadow: 0 0 0px 2px 
    #5C6AFF;
}

.seat input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.seat {
    display: flex;
    flex: 0 0 34.28571428571429%;
    padding: 5px;
    position: relative;
    width: 30px;
}

.seats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.exit::before, .exit::after {
    content: "EXIT";
    font-size: 14px;
    line-height: 18px;
    padding: 0px 2px;
    font-family: "Arial Narrow", Arial, sans-serif;
    display: block;
    position: absolute;
    background: green;
    color:white;  
    top: 50%;
    transform: translate(0, -50%);
}
.exit::after {
    right: 0;
}

.exit::before {
    left: 0;
}

ol {
  list-style :none;
  padding: 0;
  margin: 0;
}

.seat label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 4px 0;
    /*background: 
    #F42536*/;
    background: white;
    border-radius: 5px;
    animation-duration: 300ms;
    animation-fill-mode: both;
}

.seat label::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, 0.4);
}

.seat label::hover {
  box-shadow: none;
  cursor: not-allowed;
}

.seat label:hover {
    cursor: pointer;
    box-shadow: 0 0 0px 2px 
    #5C6AFF;
}

.seat input[type="checkbox"]:checked + label {
    background: #bada55;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}

.tkt-body {
  width: 700px;
  background:
  rgba(128, 128, 128, 0.34);
  padding:1.5vw 2.5vw 2.5vw 2.5vw;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.header {
  background: none;
  color: white;
}

#seatHeader{
  color:white;
  margin-bottom: 15px;
  margin-left: -12px;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
            transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
            transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
            transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
            transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
          animation-name: rubberBand;
}

.availableSeatLegend {
  background: white;
  height: 22px;
}

.selectedSeatLegend {
  background: #bada55;
  height: 22px;
}

.bookedSeatLegend {
  background: #F42536 !important;
  height: 22px;
}

.white {
  color: white !important;
}

.form-row-1{
  margin-left: -11px !important;
}

.pd {
  padding: 0px !important;
}

.submitBtn{
  margin-left: 420px !important;
}

.bookedSeat {
  background: #F42536 !important;
}

.alert-success{
  background: #bada55 !important;
  border-radius: 0px !important;
  border-color: #bada55 !important;
}

.alert-danger{
  background: #F42536 !important;
  border-radius: 0px !important;
  border-color: #F42536 !important;
  color: white !important;
}

#bookTicketMsg{
  margin-left: -11px;
}